body {
  font-family: 'Monda', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  margin: 0;
  padding: 0;
}

code {
  font-family: 'Monda', sans-serif;
}

#root {
  height: '100vh'
}

.navbar {
  background-color: #2F5D62;
  height: 50px;
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  top: 0;
  z-index: 1000;
}

.branch-btn {
  cursor: pointer;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 100%; 
}

.menu {
  display: flex;
  list-style: none;
  text-align: center;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 120px;
}

.nav-links {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #FAFAFA;
  cursor: pointer;
}
.nav-links:hover {
  color: #5E8B7E;
  transition: 250ms;
  cursor: pointer;
}


.menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }

  .navbar {
    padding-top: 30px;
    align-items: center;
  }

  .menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 88vh;
    position: absolute;
    top: 80px;
    left: -150%;
    opacity: 1;
    transition: all 0.5s ease;
 
  }

  .menu.active {
    background: #424242;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1000;
    padding: 0;
    margin: 0;
  }
  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-60%, 50%);
    cursor: pointer;
  }
}

.logo {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 80px;
}

@media screen and (min-width: 960px) {
  .logo {
    position: absolute;
    top: 0%;
    left: 3%;
    height: 150px;
  }
};


.video-item {
  display: flex !important;
  align-items: center !important;
  cursor: pointer;
}

.video-item.item img {
  max-width: 200px;
  max-height: 250px ;
}

.container-video {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.video-item.item {
  display: flex !important;
  align-items: center !important;
  cursor: pointer;
  max-width: 700px;
  margin-bottom: 20px;
  font-size: 12px;
}

.youtube-header {
  display: flex;
  align-items: center;
}

.content {
  height: 100%;
}

.input {
  margin-left: 30px;
  height: 30px;
  width: 200px;
  border: 2px solid #5E8B7E;
  font-family: 'Monda';
}

.header {
  width: 100%;
  margin-left: 20px;
  height: 100%;
}

.list {
  display: grid;
  width: 100%;
  margin-top: 20px;
}

.row {
  display: flex;
  width: 100%;
}


@media screen and (max-width: 960px) {
  .row {
   flex-direction: column
  }
  .preview {
    margin: 0;
    margin-bottom: 30px;
  }
  .youtube-header {
    flex-direction: column;
  }
  .input {
    margin-top: 20px
  }
};


.column {
  display: flex;
  flex-direction: column;
  min-width: 50%;
  align-items:center;
  height: 100%;
}

.preview {
  width: 375px;
  height: 215px;
  margin: 50px
}

.pick {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 662px;
}

.title {
  max-width: 375px;
  margin: 20px 0;
  font-size: 14px;
}
